<!DOCTYPE html>
<html lang="en">

<head>
      <meta charset="UTF-8">
      <meta name="viewport"
            content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet"
            href="/css/styles.css">
      <link rel="icon"
            href="/images/weather.png">
      <title>about</title>
</head>

<body>

      <div class="main-content">
            <header>{{>header}}</header>
            
            <img class="portrait"
                 src="images/My_img.jpg"
                 alt="My image">

                 <p>This site was created by Lubov Novozhilova. The data used comes from
                  mapbox.com and weatherstack.com.
            </p>

                 
      </div>
      <footer>{{>footer}}</footer>
</body>

</html>